<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Campfire</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">The Campfire</a>
      </h1>
    </header>
    <main>
       {{{ body }}}
       <section class="login"> 
        <div class="login-box">
            <h3>Welcome! Gather Round The Campfire</h3>
              <form>
                <a href="/login">login</a>
              </form>
          </div>
        </section>
    </main>
    <footer>
      ❤️ Made with love by Mistyped Devbelopers
    </footer>
  </div>

  <script src="/javascript/logout.js"></script>
</body>

</html>