<!DOCTYPE html>
<html lang="en">

<link>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>The Campfire</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">The Campfire</a>
      </h1>
      <nav>
        <ul>
          <li>
            <button id="logout" class="button">Logout</button>
          </li>
          <li>
            <a href="/login">Login</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="background">
      {{{ body }}}
    </main>
    <footer>
      Made with love by Mistyped Devbelopers 🔥
    </footer>
  </div>

  <script src="/javascript/logout.js"></script>
</body>

</html>