* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fc9b4a;
    --secondary-color: #fff7e7;
    --tertiary-color: #79553e;
}

body {
    color: #fff7e7;
    font-family: Helvetica, Arial, sans-serif;
}

/* Header Styles Start */
header {
    padding: 20px 35px;
    background-color: #fff7e7;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../assets/images/Landing-image1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 a { 
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    font-size: 32px;
    color: #FC9B4A;
    text-shadow: 0 0 10px rgba(250, 247, 247, 0.5);
}

header nav {
    margin: 4px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color:#fff7e7;
}

header nav ul li a {
    padding: 15px 20px;
    font-weight: lighter;
    font-size: 1.5vw;
    text-shadow: 0 0 10px rgba(250, 247, 247, 0.5);
    text-decoration: none;
}

.button {
    padding: 15px 20px;
    font-weight: lighter;
    font-size: 1.5vw;
    text-shadow: 0 0 10px rgba(250, 247, 247, 0.5);
    text-decoration: none;
    border-radius: 15px;
    border-color: none;
}

header nav ul li a:hover {
    background: #fc9b4a;
    color: #79553e;
    border-radius: 15px;
    text-shadow: none;
}

.button:hover {
    background: #fc9b4a;
    color: #79553e;
    border-radius: 15px;
    text-shadow: none;
}

/* End Header section */

main {
    background-image: url("../assets/images/Landing-image1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

.login {
    padding: 50px;
}

.login-box {
    border :3px solid #79553e;
    background-image: url("../assets/images/Logbox-background.png"); 
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 25%;
    box-shadow: 0 0 10px rgba(250, 247, 247, 0.5);
    border-radius: 15px;
}

.login-box h3 {    
    border :3px solid #79553e;
    background-color: #fff7e7;
    padding: 30px;
    text-align: center;
    margin: 8% 12%;
    font-size: 28px;
    color: #79553e;
    text-shadow: 0 0 10px rgba(250, 247, 247, 0.5);
    box-shadow: 0 0 10px rgba(250, 247, 247, 0.5);
    border-radius: 15px;
}

.login-box h3 p {
    font-size: 20px;
}

.login-form h4, .signup-form h4 {
    font-size: 18px;
    line-height: 2;
}

.login-box form {
    border: 3px solid #79553e;
    background-color: rgba(255, 247, 231, 0.781);
    color: #79553e;
    font-size: 15px;
    padding: 3% 10%;
    text-align: center;
    width: 65%; 
    margin: 3.5% 17%;
    border-color: #79553e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.login-form h4, .signup-form h4 {
    font-size: 18px;
    line-height: 2;
}

.login-form button, .signup-form button, .login-form a {
    color: #fff7e7;
    background-color: #fc9b4a;
    border: none;
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 10px;
}

.login-form a {
    text-decoration: none;
}

.form-input {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
}

.form-input:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
}

/* Footer Style Starts */
footer {
    background-color: #fff7e7;
    color: #79553e;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
/*Footer Style Ends */
